<link rel="stylesheet" href="/css/header.css">
<header>
    <div class="container header__container">
       <div class="header__left">
                <h1 class="text-gradient-no">I'm Furqan,</h1>
            <h2>
                Innovative Full-Stack Web Developer
            </h2>
            <p>Specializing in React, Node.js, and scalable web applications.</p>
            <a href="/contact" class="btn btn-primary">Get in Touch</a>
           </div>
       <div class="header__right">
        <div class="img">
            <img src="/assets/img.png" alt="">
            <div class="glass"></div>
        </div>
       </div>
    </div>
</header>