<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="This is my Portfolio website">
    <meta name="keywords" content="Portfolio Muhammad Furqan Rasool Website Developer Full-Stacked">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="shortcut icon" href="/assets/logo2.png" type="image/x-icon">
    <title>PortFolio</title>
</head>
<body>
    <%- include("./partials/nav", {route  : "home"} ) %>
    <%- include("./partials/header") %>
</body>
</html>