<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/projects.css">
    <title>PortFolio</title>
</head>
<body>
    <%- include("../partials/nav" , {route: "projects"}) %>
    <h1>Hello World! - Projects Page</h1>
</body>
</html>