<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Form Submitted!</title>
</head>
<body>
    <section class="error">
        <h1><%= fullName %>,</h1>
        <h2>Your Form is Submitted!</h2>
        <a href="/">Back to Home -></a>
    </section>
    
</body>
</html>